# Downloading Libraries

In [1]:
!pip3 install ydata-profiling
!pip3 install pandas -- upgrade
!pip3 install numpy -- upgrade

Requirement already satisfied: ydata-profiling in d:\python\lib\site-packages (4.1.2)
Requirement already satisfied: scipy<1.10,>=1.4.1 in d:\python\lib\site-packages (from ydata-profiling) (1.7.1)
Requirement already satisfied: pandas!=1.4.0,<1.6,>1.1 in d:\python\lib\site-packages (from ydata-profiling) (1.3.4)
Requirement already satisfied: matplotlib<3.7,>=3.2 in d:\python\lib\site-packages (from ydata-profiling) (3.4.3)
Requirement already satisfied: pydantic<1.11,>=1.8.1 in d:\python\lib\site-packages (from ydata-profiling) (1.10.17)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in d:\python\lib\site-packages (from ydata-profiling) (6.0)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in d:\python\lib\site-packages (from ydata-profiling) (2.11.3)
Requirement already satisfied: visions==0.7.5 in d:\python\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling) (0.7.5)
Requirement already satisfied: numpy<1.24,>=1.16.0 in d:\python\lib\site-packages (from ydata-profiling) (1.22.4)
Requirement already satisfied: htmlmin==0.1.12 in d:\python\lib\site-packages (from ydata-profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in d:\python\lib\site-packages (from ydata-profiling) (0.12.4)
Requirement already satisfied: requests<2.29,>=2.24.0 in d:\python\lib\site-packages (from ydata-profiling) (2.26.0)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in d:\python\lib\site-packages (from ydata-profiling) (4.62.3)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in d:\python\lib\site-packages (from ydata-profiling) (0.11.2)
Requirement already satisfied: multimethod<1.10,>=1.4 in d:\python\lib\site-packages (from ydata-profiling) (1.9.1)
Requirement already satisfied: statsmodels<0.14,>=0.13.2 in d:\python\lib\site-packages (from ydata-profiling) (0.13.5)
Requirement already satisfied: typeguard<2.14,>=2.13.2 in d:\python\lib\site-packages (from ydata-profiling) (2.13.3)
Requirement already satisfied: imagehash==4.3.1 in d:\python\lib\site-packages (from ydata-profiling) (4.3.1)
Requirement already satisfied: PyWavelets in d:\python\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (1.1.1)
Requirement already satisfied: pillow in d:\python\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (8.4.0)
Requirement already satisfied: attrs>=19.3.0 in d:\python\lib\site-packages (from visions==0.7.5->visions[type_image_path]==0.7.5->ydata-profiling) (23.2.0)
Requirement already satisfied: networkx>=2.4 in d:\python\lib\site-packages (from visions==0.7.5->visions[type_image_path]==0.7.5->ydata-profiling) (2.6.3)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in d:\python\lib\site-packages (from visions==0.7.5->visions[type_image_path]==0.7.5->ydata-profiling) (0.2.0)
Requirement already satisfied: MarkupSafe>=0.23 in d:\python\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (1.1.1)
Requirement already satisfied: cycler>=0.10 in d:\python\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\python\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in d:\python\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in d:\python\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in d:\python\lib\site-packages (from pandas!=1.4.0,<1.6,>1.1->ydata-profiling) (2021.3)
Requirement already satisfied: joblib>=0.14.1 in d:\python\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.1.0)
Requirement already satisfied: typing-extensions>=4.2.0 in d:\python\lib\site-packages (from pydantic<1.11,>=1.8.1->ydata-profiling) (4.12.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\python\lib\site-packages (from requests<2.29,>=2.24.0->ydata-profiling) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in d:\python\lib\site-packages (from requests<2.29,>=2.24.0->ydata-profiling) (2024.7.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in d:\python\lib\site-packages (from requests<2.29,>=2.24.0->ydata-profiling) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in d:\python\lib\site-packages (from requests<2.29,>=2.24.0->ydata-profiling) (3.2)
Requirement already satisfied: patsy>=0.5.2 in d:\python\lib\site-packages (from statsmodels<0.14,>=0.13.2->ydata-profiling) (0.5.2)
Requirement already satisfied: packaging>=21.3 in d:\python\lib\site-packages (from statsmodels<0.14,>=0.13.2->ydata-profiling) (24.1)
Requirement already satisfied: colorama in d:\python\lib\site-packages (from tqdm<4.65,>=4.48.2->ydata-profiling) (0.4.4)
Requirement already satisfied: six in d:\python\lib\site-packages (from cycler>=0.10->matplotlib<3.7,>=3.2->ydata-profiling) (1.16.0)

WARNING: visions 0.7.5 does not provide the extra 'type-image-path'
DEPRECATION: pyodbc 4.0.0-unsupported has a non-standard version number. pip 24.1 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of pyodbc or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in d:\python\lib\site-packages (1.3.4)

ERROR: Could not find a version that satisfies the requirement upgrade (from versions: none)
ERROR: No matching distribution found for upgrade

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in d:\python\lib\site-packages (1.22.4)

ERROR: Could not find a version that satisfies the requirement upgrade (from versions: none)
ERROR: No matching distribution found for upgrade

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

# Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import os
from ydata_profiling.utils.cache import cache_file
from ydata_profiling import ProfileReport

In [3]:
pd.show_versions(as_json=False)

INSTALLED VERSIONS
------------------
commit           : 945c9ed766a61c7d2c0a7cbb251b6edebf9cb7d5
python           : 3.9.7.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.22631
machine          : AMD64
processor        : Intel64 Family 6 Model 126 Stepping 5, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_India.1252

pandas           : 1.3.4
numpy            : 1.22.4
pytz             : 2021.3
dateutil         : 2.8.2
pip              : 24.0
setuptools       : 58.0.4
Cython           : 0.29.24
pytest           : 6.2.4
hypothesis       : None
sphinx           : 4.2.0
blosc            : None
feather          : None
xlsxwriter       : 3.0.1
lxml.etree       : 4.6.3
html5lib         : 1.1
pymysql          : None
psycopg2         : 2.9.5 (dt dec pq3 ext lo64)
jinja2           : 2.11.3
IPython          : 7.29.0
pandas_datareader: None
bs4              : 4.10.0
bottleneck       : 1.3.2
fsspec           : 2021.10.1
fastparquet      : None
gcsfs            : None
matplotlib       : 3.4.3
numexpr          : 2.7.3
odfpy            : None
openpyxl         : 3.0.9
pandas_gbq       : None
pyarrow          : None
pyxlsb           : None
s3fs             : None
scipy            : 1.7.1
sqlalchemy       : 1.4.22
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 2.0.1
xlwt             : 1.3.0
numba            : None

In [4]:
os.getcwd()

'C:\\Users\\RISHABH JAIN\\Downloads'

In [5]:
os.chdir(r'C:\Users\RISHABH JAIN\Downloads')

# Importing Dataframe

In [6]:
df = pd.read_csv('CC_GENERAL.csv')
df.head(2)

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.4,0.0,95.4,0.000000,0.166667,0.0,0.083333,0.00,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.0,0.0,0.0,6442.945483,0.000000,0.0,0.000000,0.25,4,0,7000.0,4103.032597,1072.340217,0.222222,12

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8950 entries, 0 to 8949
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CUST_ID                           8950 non-null   object
 1   BALANCE                           8950 non-null   float64
 2   BALANCE_FREQUENCY                 8950 non-null   float64
 3   PURCHASES                         8950 non-null   float64
 4   ONEOFF_PURCHASES                  8950 non-null   float64
 5   INSTALLMENTS_PURCHASES            8950 non-null   float64
 6   CASH_ADVANCE                      8950 non-null   float64
 7   PURCHASES_FREQUENCY               8950 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY        8950 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY  8950 non-null   float64
 10  CASH_ADVANCE_FREQUENCY            8950 non-null   float64
 11  CASH_ADVANCE_TRX                  8950 non-null   int64
 12  PURCHASES_TRX                     8950 non-null   int64
 13  CREDIT_LIMIT                      8949 non-null   float64
 14  PAYMENTS                          8950 non-null   float64
 15  MINIMUM_PAYMENTS                  8637 non-null   float64
 16  PRC_FULL_PAYMENT                  8950 non-null   float64
 17  TENURE                            8950 non-null   int64
dtypes: float64(14), int64(3), object(1)
memory usage: 1.2+ MB

In [8]:
df.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

# Create A profile

In [9]:
#Provide the column name that provides the chronological order of your time-series
profile = ProfileReport(df, tsmode=True, sortby="CUST_ID", title="Time-Series EDA")

In [10]:
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

In [21]:
profile.to_file("html_view_credit_df_2.html")

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [ ]:
# // df: a pandas or spark.sql DataFrame
# minimal: minimal mode is a default configuration with minimal computation
# ts_mode: activates time-series analysis for all the numerical variables from the dataset. Only available for pd.DataFrame
# sort_by: ignored if ts_mode=False. Order the dataset by a provided column.
# sensitive: hides the values for categorical and text variables for report privacy
# config_file: a config file (.yml), mutually exclusive with `minimal`
# lazy: compute when needed
# sample: optional dict(name="Sample title", caption="Caption", data=pd.DataFrame())
# typeset: optional user typeset to use for type inference
# summarizer: optional user summarizer to generate custom summary output
# type_schema: optional dict containing pairs of `column name`: `type`

# Example Running

In [11]:
df_covid = pd.read_csv("covid_data.csv")
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3753 entries, 0 to 3752
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Outcome                         3753 non-null   object
 1   Week End                        3753 non-null   object
 2   Age Group                       3753 non-null   object
 3   Unvaccinated Rate               3753 non-null   float64
 4   Vaccinated Rate                 3426 non-null   float64
 5   Boosted Rate                    2529 non-null   float64
 6   Crude Vaccinated Ratio          2320 non-null   float64
 7   Crude Boosted Ratio             1761 non-null   float64
 8   Age-Adjusted Unvaccinated Rate  417 non-null    float64
 9   Age-Adjusted Vaccinated Rate    417 non-null    float64
 10  Age-Adjusted Boosted Rate       330 non-null    float64
 11  Age-Adjusted Vaccinated Ratio   380 non-null    float64
 12  Age-Adjusted Boosted Ratio      312 non-null    float64
 13  Population Unvaccinated         3753 non-null   int64
 14  Population Vaccinated           3213 non-null   float64
 15  Population Boosted              2529 non-null   float64
 16  Outcome Unvaccinated            3753 non-null   int64
 17  Outcome Vaccinated              3426 non-null   float64
 18  Outcome Boosted                 2529 non-null   float64
 19  Age Group Min                   3753 non-null   int64
 20  Age Group Max                   3753 non-null   int64
dtypes: float64(14), int64(4), object(3)
memory usage: 615.9+ KB

In [12]:
df_covid.fillna(0, inplace = True)

In [13]:
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3753 entries, 0 to 3752
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Outcome                         3753 non-null   object
 1   Week End                        3753 non-null   object
 2   Age Group                       3753 non-null   object
 3   Unvaccinated Rate               3753 non-null   float64
 4   Vaccinated Rate                 3753 non-null   float64
 5   Boosted Rate                    3753 non-null   float64
 6   Crude Vaccinated Ratio          3753 non-null   float64
 7   Crude Boosted Ratio             3753 non-null   float64
 8   Age-Adjusted Unvaccinated Rate  3753 non-null   float64
 9   Age-Adjusted Vaccinated Rate    3753 non-null   float64
 10  Age-Adjusted Boosted Rate       3753 non-null   float64
 11  Age-Adjusted Vaccinated Ratio   3753 non-null   float64
 12  Age-Adjusted Boosted Ratio      3753 non-null   float64
 13  Population Unvaccinated         3753 non-null   int64
 14  Population Vaccinated           3753 non-null   float64
 15  Population Boosted              3753 non-null   float64
 16  Outcome Unvaccinated            3753 non-null   int64
 17  Outcome Vaccinated              3753 non-null   float64
 18  Outcome Boosted                 3753 non-null   float64
 19  Age Group Min                   3753 non-null   int64
 20  Age Group Max                   3753 non-null   int64
dtypes: float64(14), int64(4), object(3)
memory usage: 615.9+ KB

In [14]:
#Provide the column name that provides the chronological order of your time-series
profile = ProfileReport(df_covid, tsmode=True, sortby="Week End", title="Time-Series EDA")

In [15]:
profile.to_file("covid_summary_stats.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [ ]:
# Args:
#     df: a pandas or spark.sql DataFrame
#     minimal: minimal mode is a default configuration with minimal computation
#     ts_mode: activates time-series analysis for all the numerical variables from the dataset. Only available for pd.DataFrame
#     sort_by: ignored if ts_mode=False. Order the dataset by a provided column.
#     sensitive: hides the values for categorical and text variables for report privacy
#     config_file: a config file (.yml), mutually exclusive with `minimal`
#     lazy: compute when needed
#     sample: optional dict(name="Sample title", caption="Caption", data=pd.DataFrame())
#     typeset: optional user typeset to use for type inference
#     summarizer: optional user summarizer to generate custom summary output
#     type_schema: optional dict containing pairs of `column name`: `type`
#     **kwargs: other arguments, for valid arguments, check the default configuration file.